[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git

[submodule "themes/hugo-hero-theme"]
	path = themes/hugo-hero-theme
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
